@import "tailwindcss";

@theme {
  --color-ghost-900: #0a0a0c;
  --color-ghost-800: #121214;
  --color-ghost-700: #1c1c20;
  --color-ghost-600: #2a2a30;
  --color-ghost-500: #3f3f46;
  --color-ghost-vibe: #d946ef;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-ghost-900 text-gray-200 overflow-hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-ghost-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-ghost-500;
}
